
body {
    font-family: sans-serif;
    background-color:#ebbf87; 
  }
  
  .contenair {
    width: 80%;
    margin: 70px auto;
    padding: 20px;
    border-radius: 10px; 
    background-color: #182C64 ; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .forum_reg {
    max-width: 500px;
    margin: 0 auto; 
    padding: 20px;
    border-radius: 5px;
    background-color: #f0f0f0; 
  }
  
  legend {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h2 {
    color: red; 
    text-align: center;
    margin-bottom: 20px;
  }
  

  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="file"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .img {
    margin-bottom: 10px;
    float: right;
  }
  
  
.btn {
    text-align: center;
}
  
  #btn_register {
    background-color: #182C64; 
    color: bisque;
    padding: 10px 20px;
    font-size:bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  