body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../assets/img_forum/halllowen.jpg);
    background-size: cover;
  }
  
  
#head{
    text-align: center;
    padding: 20px 0;
    background-color: salmon;
    justify-content: center;
    width: 400px ;
    height: 70px;
    font-size: 36px;
    margin: auto;
    margin-bottom: 80px;
    border-radius: 30%;

  }
  
.form_create{
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: salmon;
    border: 1px solid rgba(41, 28, 28, 0.355);
    border-radius: 5%;
  }
  
.data {
    padding: 20px 0;
  }
  
 label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
  
input[type="text"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 5 px;
}
  
#btn_sub {
    background-color:#182C64;
    
    
    color:bisque;
   
    border: none;
    cursor: pointer;
    float: right;
    border-radius: 15%;
    width:  150px;
    height: 35px;
    font-size: 25px;
   
}

  
a {
    text-decoration: none;
    color:#182C64 ;
}
  
a:hover {
    text-decoration: underline;
  }
  